{% extends 'base.html.twig' %}

{% block body %}
    <h1>Services</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ service.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if service.status %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{% if service.dateStart %}{{ service.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateend</th>
                <td>{% if service.dateEnd %}{{ service.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if service.created %}{{ service.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if service.updated %}{{ service.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ service.slug }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_services_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_services_edit', { 'id': service.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
