{% extends "::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block header %}
{% endblock %}
  {% block body %}
      {% block fos_user_content %}
<section>
    <div id="page-wrapper" class="sign-in-wrapper">
        <div class="graphs">
            <div class="sign-in-form">
                <div class="sign-in-form-top">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <h1>Log in</h1>
                </div>
                <div class="signin">
                    <div class="signin-rit">
								<span class="checkbox1">
									 <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Forgot Password ?</label>
								</span>
                        <p><a href="#">{{ 'security.login.remember_me'|trans }}</a> </p>
                        <div class="clearfix"> </div>
                    </div>
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="log-input">
                            <div class="log-input-left">
                                <input name="_username" type="text" class="user" value="{{ last_username }}" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}">
                            </div>
								<span class="checkbox2">
									 <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i></label>
								</span>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="log-input">
                            <div class="log-input-left">
                                <input name="_password" type="password" class="lock" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email address:';}">
                            </div>
								<span class="checkbox2">
									 <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i></label>
								</span>
                            <div class="clearfix"> </div>
                        </div>
                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

                    </form>
                </div>
                <div class="new_people">
                    <h2>For New People</h2>
                    <p>Having hands on experience in creating innovative designs,I do offer design
                        solutions which harness.</p>
                    <a href="register.html">Register Now!</a>
                </div>
            </div>
        </div>
    </div>
</section>
          {% endblock %}
{%  endblock %}